<%- include("template/cabecera") %>
<body>
    <h1><%= tituloClientes %></h1>
</body>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dni</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Melady</th>
        <td>Ventura</td>
        <td>99999999</td>
        <td>melady@abc.com</td>
      </tr>
      <tr>
        <th>Fabian</th>
        <td>Arteaga</td>
        <td>88888888</td>
        <td>fabian@abc.com</td>
      </tr>
      <tr>
        <th>Joselyn</th>
        <td>Estrada</td>
        <td>77777777</td>
        <td>joselyn@abc.com</td>
      </tr>
    </tbody>
  </table>
</html>